* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #212529;
  background-image: url(https://ci3.googleusercontent.com/proxy/_BkcxEWYxtvELG8t3zWXh0rKLoznM1sjEW5sUR3KGGPWjN0xgQ7TEpnR2wT4GU5LOL5HZp2DCp4XRMYSsMql=s0-d-e1-ft#https://wallpaperaccess.com/full/2926922.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.logo-brand {
  display: flex;
  color: white;
  align-items: center;
}
.logo-brand img {
  width: 5%;
  padding: 1%;
}
.links {
  display: flex;
  margin-right: 3rem;
}
.links ul {
  display: flex;
  list-style-type: none;
}
.links ul li {
  margin-left: 2rem;
}
.links ul li a {
  text-decoration: none;
  color: white;
}
.links ul li a:hover {
  color: red;
}
.links ul li a i {
  margin-right: 0.5rem;
}
.container {
  margin: 2% 3%;
  width: auto;
  height: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.mentor {
  padding: 2%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0 20rem;
}
.teams {
  padding: 2%;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  gap: 2%;
}
.member1 {
    padding: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  transition: all 0.5s ease-in-out;
}
.member2 {
    padding: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  transition: all 0.5s ease-in-out;
}
.member3 {
    padding: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  transition: all 0.5s ease-in-out;
}
.member4 {
    padding: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  transition: all 0.5s ease-in-out;
}
.member5 {
    padding: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  transition: all 0.5s ease-in-out;
}
.name {
  font-weight: bold;
  text-transform: uppercase;
  margin: 2%;
}
.desg {
  font-style: italic;
  font-weight: lighter;
  margin: 2%;
  color: gray;
}
.about {
  margin: 2%;
}
.member1:hover {
  font-size: larger;
  transition: all 0.5s ease-in-out;
}
.member2:hover {
  font-size: larger;
  transition: all 0.5s ease-in-out;
}
.member3:hover {
  font-size: larger;
  transition: all 0.5s ease-in-out;
}
.member4:hover {
  font-size: larger;
  transition: all 0.5s ease-in-out;
}
.member5:hover {
  font-size: larger;
  transition: all 0.5s ease-in-out;
}
.social-links {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: x-large;
  gap: 1rem;
}
.mail{
  transition: all 0.5s ease-in-out;
}
.mail a{
    color: black;
  text-decoration: none;
}
.linked-in {
  transition: all 0.5s ease-in-out;
}
.github {
  transition: all 0.5s ease-in-out;
}
.linked-in:hover {
  color: blue;
  transition: all 0.5s ease-in-out;
  font-size: xx-large;
}
.github:hover {
  color: blueviolet;
  transition: all 0.5s ease-in-out;
  font-size: xx-large;
}
.mail:hover{
  transition: all 0.5s ease-in-out;
  font-size: xx-large;
}
.mail a:hover{
    color: red;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-bottom: 2%;
}
footer i {
  margin-right: 0.5rem;
}
