* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #212529;
  background-image:url(https://ci3.googleusercontent.com/proxy/_BkcxEWYxtvELG8t3zWXh0rKLoznM1sjEW5sUR3KGGPWjN0xgQ7TEpnR2wT4GU5LOL5HZp2DCp4XRMYSsMql=s0-d-e1-ft#https://wallpaperaccess.com/full/2926922.jpg);background-repeat:no-repeat;
  background-size: auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.nav{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.logo-brand{
  display:flex;
  color: white;
  align-items: center;
}
.logo-brand img{
  width: 5%;
  padding: 1%;
}
.links{
  display: flex;
  margin-right: 3rem;
}
.links ul {
  display: flex;
  list-style-type: none;;
}
.links ul li {
  margin-left: 2rem;
}
.links ul  li a {
  text-decoration: none;
  color: white;
}
.links ul li a:hover {
  color: red;
}
.links ul li a i{
  margin-right: 0.5rem;
}
.container {
  margin: 2% 8%;
}
.card {
  background-color: #fff;
  padding: 0% 1%;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,.125);
}
.card-header {
  background-color: rgba(0, 0, 0, 0.03);
  text-align: center;
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(0,0,0,.125);
}
.card-header i{
  margin-right: 1rem;
}
.card-body {
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  flex-direction: column;
  
}
.card-body form{
    min-width: 50%;
    
}
.row0{
    padding: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.row0 label{
  margin-right: 3rem;
}
.row0 select{
    padding: 2%;
    border: 2px solid rgba(0,0,0,.125);
    border-radius: 5px;
    width: 55%;
}
.row1{
    padding: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.row1 label{
  margin-right: 1%;
}
.row1 select{
    padding: 2%;
    border: 2px solid rgba(0,0,0,.125);
    border-radius: 5px;
    width: 55%;
}
.row2{
    padding: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.row2 label{
  margin-right: 2rem;
}
.row2 input{
    padding: 2%;
    border: 2px solid rgba(0,0,0,.125);
    border-radius: 5px;
    width: 50%;
}
.row3{
    padding: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.row3 label{
  margin-left:1rem;
}
.row3 input{
    padding: 2%;
    border: 2px solid rgba(0,0,0,.125);
    border-radius: 5px;
    width: 50%;
}
.row4 {
  padding: 3%;
  text-align: center;
}
.row4 button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 2%;
  font-size: large;
  border-color:#007bff;
  width:50%;
  transition: all 0.5s ease-in-out;
}
.row4 button:hover{
    background-color: #0069d9;
    border-color: #0062cc;
    cursor: pointer;
}
.row5{
  display: flex;
  align-items: center;
  justify-content: center;
}
footer{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
footer i{
  margin-right: 0.5rem;
}

@media screen and (max-width: 768px) {
  .nav{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .logo-brand{
    display:flex;
    color: white;
    align-items: center;
  }
  .logo-brand img{
    width: 10%;
    padding: 1%;
  }
  .container {
    margin: 2% 2%;
  }
  .card-body form{
    min-width: 100%
  }
  .row0 select{
    width: 100%;
  }
  .row0 i{
    margin-right: 1rem;
  }
  .row1 select{
    width: 100%;
  }
  .row1 i{
    margin-right: 1rem;
  }
  .row2 input{
    width: 100%;
  }
  .row2 i{
    margin-right: 1rem;
  }
  .row3 input{
    width: 100%;
  }
  .row3 i{
    margin-right: 1rem;
  }
  .row4 button{
    width: 100%;
  }
  
  
}